<%- include('layouts/header') %>

<div class="register-form" id="register_form">
  <div class="container-fluid">
    <div class="register-cover-color register update-password">
      <div class="row justify-content-center">
        <div class="in-review text-center mb-3 mt-5 position-relative">
          <h2 class="mb-5 position-relative">
            <a id="header-back-redirect" class="back-btn">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.57 5.92969L3.5 11.9997L9.57 18.0697"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20.4999 12H3.66992"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Back </a
            >Update Password
          </h2>
        </div>
        <div class="col-md-6">
          <div class="form-cover">
            <form method="post">
              <div class="mb-3 position-relative">
                <label for="basic-url" class="form-label"
                  >Current Password</label
                >
                <div class="password-wrapper mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Current Password"
                    id="password"
                    name="password"
                  />
                  <i
                    class="fa fa-fw fa-eye-slash toggle-password"
                    id="eye"
                    style="color: #9c9b9b"
                  ></i>
                </div>
                <% if(typeof error !== 'undefined') { %> <% for(var i in
                error.details) { if(error.details[i].context.key == 'password')
                { %>
                <small
                  class="text-danger"
                  id="error-email"
                  style="color: #9f0606"
                >
                  <%= error.details[i].message %>
                </small>
                <% } %> <% } %> <% } %>
              </div>

              <div class="mb-3 position-relative">
                <label for="basic-url" class="form-label">New Password</label>
                <div class="password-wrapper mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="New Password"
                    id="confirm_password"
                    name="newPassword"
                  />
                  <i
                    class="fa fa-fw fa-eye-slash toggle-password"
                    id="eye_confirm"
                    style="color: #9c9b9b"
                  ></i>
                </div>
                <% if(typeof error !== 'undefined') { %> <% for(var i in
                error.details) { if(error.details[i].context.key ==
                'newPassword') { %>
                <small
                  class="text-danger"
                  id="error-email"
                  style="color: #9f0606"
                >
                  <%= error.details[i].message %>
                </small>
                <% } %> <% } %> <% } %>
              </div>
              <div class="mb-3 position-relative">
                <label for="basic-url" class="form-label"
                  >Confirm New Password</label
                >
                <div class="password-wrapper mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm New Password"
                    id="confirm_newpassword"
                    name="conNewPassword"
                  />
                  <i
                    class="fa fa-fw fa-eye-slash toggle-password"
                    id="eye_newconfirm"
                    style="color: #9c9b9b"
                  ></i>
                </div>
                <% if(typeof error !== 'undefined') { %> <% for(var i in
                error.details) { if(error.details[i].context.key ==
                'conNewPassword') { %>
                <small
                  class="text-danger"
                  id="error-email"
                  style="color: #9f0606"
                >
                  <%= error.details[i].message %>
                </small>
                <% } %> <% } %> <% } %> <% if(typeof message !=='undefined' ) {
                %>
                <small
                  class="text-danger"
                  id="error-email"
                  style="color: #9f0606"
                >
                  <%= message %>
                </small>
                <% } %>
              </div>

              <button type="submit" class="btn btn-primary login-btn">
                Update
              </button>
              <p class="text-center py-3 register-link">
                Already have an account ?<a href="/login">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
  $(function () {
    $("#eye_newconfirm").click(function () {
      if ($(this).hasClass("fa-eye-slash")) {
        $(this).removeClass("fa-eye-slash");

        $(this).addClass("fa-eye");

        $("#confirm_newpassword").attr("type", "text");
      } else {
        $(this).removeClass("fa-eye");

        $(this).addClass("fa-eye-slash");

        $("#confirm_newpassword").attr("type", "password");
      }
    });
  });
</script>
