<%- include('layouts/common_header') %>
<style>
  #signup label.form-label b {
    color: #de0000;
  }
</style>

<div class="register-header text-center">
  <a href="/" class="d-flex align-items-center justify-content-center">
    <img src="images/logo-icon.svg" alt="" class="icon-rotate mx-2" />
    <img src="images/logo-icon-black.svg" alt="" class="icon-rotate mx-3" />
    <img src="images/logo-content-black.svg" alt="" />
  </a>
</div>

<div class="register-form">
  <div class="container-fluid">
    <div class="register-cover-color">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-cover">
            <h2>Artist / Label Registration Form</h2>
            <form method="post" action="post-register" id="signup">
              <label class="form-label">Choose Your Preference</label>
              <div class="d-flex mb-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="type"
                    value="1"
                    id="lableselect"
                    value="lableselect"
                  />
                  <label class="form-check-label" for="lableselect">
                    Label
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="type"
                    value="0"
                    id="soloselect"
                    value="soloselect" checked
                  />
                  <label class="form-check-label" for="soloselect">
                    Solo
                  </label>
                </div>
              </div>
              <div class="mb-3 companys-name">
                <label for="exampleInputName" class="form-label"
                  >Company Name <b>*</b></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="companyname"
                  id="companyname"
                  placeholder="Company Name"
                />
                <small></small>
              </div>
              <div class="mb-3 contact-person">
                <label for="exampleInputName" class="form-label"
                  >Contact Person <b>*</b></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="contactperson"
                  id="contactperson"
                  placeholder="Contact person"
                />
                <small></small>
              </div>
              <div class="mb-3 companys-website">
                <label for="exampleInputName" class="form-label"
                  >Company Website <b>*</b></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="companywebsite"
                  id="companywebsite"           
                  placeholder="Company Website"
                />
                <small></small>
              </div>
              <div class="mb-3">
                <label for="exampleInputName" class="form-label"
                  >Artist Name <b>*</b></label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Artist Name"
                  id="fullname"
                  name="fullname"
                />
                <small></small>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail" class="form-label"
                  >Email <b>*</b></label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="Email"
                />
                <small></small>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Address <b>*</b></label
                >
                <textarea
                  class="form-control"
                  id="address"
                  rows="3"
                  placeholder="Address"
                  name="address"
                ></textarea>
                <small></small>
              </div>
              <div class="mb-3">
                <label for="company-name" class="form-label"
                  >Country <b>*</b></label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="countries"
                  name="country"
                >
                  <option selected="" disabled="">Select Country</option>
                  <% countries.forEach(function(country){ %>
                  <option
                    value="<%= country.id %>"
                    data-code="+<%= country.phonecode %>"
                  >
                    <%= country.name %>
                  </option>
                  <% }); %>
                </select>
                <small></small>
              </div>

              <div class="mb-3">
                <label for="exampleInputName" class="form-label"
                  >Contact No. <b>*</b></label
                >
                <div class="number-input d-flex">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="+01"
                    id="country_code"
                    name="country_code"
                    disabled
                  />
                  <input
                    type="text"
                    class="form-control w-100"
                    placeholder="Contact No."
                    id="contact_num"
                    name="contact"
                  />
                  <small></small>
                </div>
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label w-100"
                  >Telephone No. (Optional)</label
                >
                <input
                  type="number"
                  name="telephone"
                  class="form-control"
                  placeholder="Telephone No. (Optional)"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputName" class="form-label"
                  >Social Media
                </label>
                <div class="d-flex align-items-center mb-3">
                  <span>
                    <img class="me-3" src="/icons/instagram.png" alt="" />
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    name="instagram_link"
                    id="instagram_link"
                    placeholder="Instagram Link"
                  />
                  <small class="d-block" style="margin-left: 5px;;"></small>
                </div>
                <div class="line"></div>
                <div class="d-flex align-items-center mb-3">
                  <svg
                    class="me-3"
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect width="40" height="40" rx="20" fill="#1877F2" />
                    <path
                      d="M27.7852 25.7812L28.6719 20H23.125V16.25C23.125 14.668 23.8984 13.125 26.3828 13.125H28.9062V8.20312C28.9062 8.20312 26.6172 7.8125 24.4297 7.8125C19.8594 7.8125 16.875 10.582 16.875 15.5938V20H11.7969V25.7812H16.875V39.7578C17.8945 39.918 18.9375 40 20 40C21.0625 40 22.1055 39.918 23.125 39.7578V25.7812H27.7852Z"
                      fill="white"
                    />
                  </svg>
                  <input
                    type="text"
                    class="form-control"
                    name="facebook_link"
                    id="facebook_link"
                    placeholder="Facebook Link"
                  />
                </div>
                <div class="line"></div>
                <div class="d-flex align-items-center mb-3">
                  <span>
                    <svg
                      class="me-3"
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M35.095 11.9679C35.1105 12.3199 35.1105 12.6559 35.1105 13.0079C35.1259 23.68 27.2851 36 12.9464 36C8.7173 36 4.56539 34.736 1 32.368C1.61738 32.448 2.23477 32.48 2.85215 32.48C6.35581 32.48 9.76686 31.264 12.5297 29.008C9.19578 28.944 6.2632 26.688 5.24452 23.392C6.41755 23.632 7.62145 23.584 8.76361 23.248C5.13647 22.512 2.52803 19.1999 2.51259 15.3439C2.51259 15.3119 2.51259 15.2799 2.51259 15.2479C3.59301 15.8719 4.81235 16.2239 6.04712 16.2559C2.63607 13.8879 1.57108 9.16791 3.63932 5.4719C7.60601 10.5279 13.4403 13.5839 19.7067 13.9199C19.0739 11.1199 19.9383 8.17591 21.9602 6.1919C25.0934 3.13589 30.0325 3.2959 32.9959 6.54391C34.7401 6.1919 36.4224 5.5199 37.9504 4.5759C37.3639 6.44791 36.1446 8.03191 34.524 9.03991C36.0674 8.84791 37.58 8.41591 39 7.77591C37.9504 9.40792 36.6231 10.8159 35.095 11.9679Z"
                        fill="#1D9BF0"
                      />
                    </svg>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    name="twitter_link"
                    id="twitter_link"
                    placeholder="Twitter Link"
                  />
                </div>
                <div class="line"></div>
                <div class="d-flex align-items-center mb-3">
                  <span>
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="40" height="40" rx="20" fill="black"/>
                      <path d="M25.5774 16.1075C27.378 17.3992 29.5838 18.1592 31.9661 18.1592V13.5585C31.5153 13.5586 31.0656 13.5115 30.6245 13.4177V17.0391C28.2423 17.0391 26.0368 16.2791 24.2357 14.9875V24.3762C24.2357 29.0729 20.4418 32.88 15.7621 32.88C14.016 32.88 12.393 32.3503 11.0449 31.4417C12.5836 33.0206 14.7295 34.0001 17.1035 34.0001C21.7835 34.0001 25.5776 30.193 25.5776 25.4961V16.1075H25.5774ZM27.2325 11.466C26.3123 10.4571 25.7082 9.15328 25.5774 7.71187V7.12012H24.306C24.626 8.95216 25.7176 10.5173 27.2325 11.466ZM14.0048 27.8376C13.4907 27.1611 13.2128 26.3335 13.2141 25.4826C13.2141 23.3345 14.9494 21.5928 17.0903 21.5928C17.4893 21.5927 17.8859 21.654 18.2661 21.7751V17.0716C17.8218 17.0104 17.3733 16.9845 16.925 16.994V20.655C16.5445 20.5339 16.1477 20.4724 15.7486 20.4728C13.6077 20.4728 11.8725 22.2143 11.8725 24.3627C11.8725 25.8818 12.7399 27.1969 14.0048 27.8376Z" fill="#FF004F"/>
                      <path d="M24.2357 14.9874C26.0367 16.279 28.2422 17.039 30.6244 17.039V13.4176C29.2947 13.1333 28.1175 12.436 27.2325 11.466C25.7175 10.5172 24.626 8.95206 24.3059 7.12012H20.9662V25.4959C20.9587 27.6381 19.2263 29.3727 17.09 29.3727C15.8311 29.3727 14.7127 28.7705 14.0044 27.8376C12.7396 27.1969 11.8722 25.8817 11.8722 24.3628C11.8722 22.2146 13.6075 20.4729 15.7484 20.4729C16.1585 20.4729 16.5539 20.537 16.9248 20.6551V16.9941C12.3272 17.0894 8.6297 20.8594 8.6297 25.496C8.6297 27.8105 9.55047 29.9087 11.0449 31.4418C12.3931 32.3503 14.016 32.8801 15.7621 32.8801C20.442 32.8801 24.2358 29.0728 24.2358 24.3762V14.9874H24.2357Z" fill="white"/>
                      <path d="M30.6244 13.4174V12.4382C29.4253 12.4401 28.2498 12.1031 27.2325 11.4658C28.1331 12.4552 29.3189 13.1375 30.6244 13.4174ZM24.3059 7.11998C24.2754 6.9449 24.252 6.76866 24.2357 6.59175V6H19.6245V24.3759C19.6171 26.5179 17.8849 28.2525 15.7484 28.2525C15.1211 28.2525 14.5289 28.1031 14.0045 27.8375C14.7128 28.7703 15.8312 29.3725 17.0901 29.3725C19.2262 29.3725 20.9588 27.6381 20.9663 25.4958V7.11998H24.3059ZM16.925 16.994V15.9515C16.5397 15.8987 16.1512 15.8722 15.7623 15.8724C11.082 15.8723 7.28815 19.6796 7.28815 24.3759C7.28815 27.3203 8.77922 29.9151 11.045 31.4415C9.55059 29.9085 8.62982 27.8102 8.62982 25.4957C8.62982 20.8593 12.3273 17.0893 16.925 16.994Z" fill="#00F2EA"/>
                    </svg>
                  </span>
                  <input
                    type="text"
                    class="form-control ml-5"
                    name="tiktok_link"
                    id="tiktok_link"
                    placeholder="Tiktok Link"
                  />
                </div>
                <div class="line"></div>
              </div>
              <div class="mb-3 position-relative">
                <label for="basic-url" class="form-label"
                  >Password <b>*</b></label
                >
                <div class="password-wrapper mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter your password"
                    id="password"
                    name="password"
                  />
                  <i
                    class="fa fa-fw fa-eye-slash toggle-password"
                    id="eye"
                    style="color: #9c9b9b"
                  ></i>
                  <small></small>
                </div>
              </div>
              <div class="mb-3 position-relative">
                <label for="basic-url" class="form-label"
                  >Confirm Password <b>*</b></label
                >
                <div class="password-wrapper mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password"
                    id="confirm_password"
                  />
                  <i
                    class="fa fa-fw fa-eye-slash toggle-password"
                    id="eye_confirm"
                    style="color: #9c9b9b"
                  ></i>
                  <small></small>
                </div>
              </div>
              <button type="submit" class="btn btn-primary login-btn">
                Submit
              </button>
              <!-- <a href="/login" class="btn btn-primary login-btn">Submit</a> -->
            </form>
            <div class="footer-contents text-center">
              <p>
                By clicking submit, you agree to DJ chart’s
                <a href="#!"><b>Terms & Conditions</b></a> and
                <a href="#!"><b>Privacy Policy.</b></a>
              </p>
              <span class="login-link">
                Already have an account? <a href="/login">Login</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layouts/footer') %>
<script src="/js/validations/register.js?1.9"></script>
<script>
  $(".submit-form").click(function () {
    const radio = $('input[name="flexRadioDefault"]:checked').val();
    if (radio == "artistmusic") {
      window.location.href = "/register";
    } else {
      window.location.href = "/register";
    }
  });

  $("#countries").on("change", function () {
    var value = $("option:selected", this).attr("data-code");
    $("#country_code").val(value);
  });
</script>
