<%- include('layouts/common_header') %>

<div class="register-header text-center">
  <a href="/" class="d-flex align-items-center justify-content-center">
    <img src="images/logo-icon.svg" alt="" class="icon-rotate mx-2" />
    <img src="images/logo-icon-black.svg" alt="" class="icon-rotate mx-3" />
    <img src="images/logo-content-black.svg" alt="" />
  </a>
</div>

<div class="loginform">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-cover">
          <h2 class="mb-5">Forgot Password</h2>
          <form action="" method="post">
            <% if(typeof success !== 'undefined') { %>
            <div
              class="alert alert-success alert-dismissible"
              role="alert"
              id="success-alert"
            >
              <%= success %>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                style="outline: none"
              ></button>
            </div>
            <% } %>
            <div class="mb-5">
              <label for="exampleInputEmail" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter your registered email"
                value="<%= (typeof data !== 'undefined') ? data.email : '' %>"
              />
              <% if(typeof error !=='undefined' ) { %> <% for(var i in
              error.details) { if(error.details[i].context.key=='email' ) { %>
              <small
                class="text-danger"
                id="error-email"
                style="color: #9f0606"
              >
                <%= error.details[i].message %>
              </small>
              <% } %> <% } %> <% } %> <% if(typeof message !=='undefined' ) { %>
              <small
                class="text-danger"
                id="error-email"
                style="color: #9f0606"
              >
                <%= message %>
              </small>
              <% } %>
            </div>
            <button type="submit" class="btn btn-primary login-btn">
              Send Reset Link
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layouts/footer') %>
